<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registrieren</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<script src="/js/bootstrap.min.js"></script>
<style>
	table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	}
	
	td, th {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
	}
	
	tr:nth-child(even) {
	background-color: #dddddd;
	}
</style>
</head>
<body>
	<div class="container">

		<h1>Route hinzufügen</h1>

		<form method="post" action="createroute">
		  <div class="form-group">
		  	<label for="routenameInput">Name</label>
		    	<input type="text" required="true" name="name" class="form-control" id="routenameInput" placeholder="Routennamen eingeben"></input>
        	<label for="gradInput">Grad</label>
		    	<input type="text" required="true" name="grad" class="form-control" id="gradInput" placeholder="Grad eingeben"></input>
		    <label for="griffeInput">Griffe</label>
		    	<input type="text" required="true" name="griffe" class="form-control" id="griffeInput" placeholder="Griffe eingeben"></input>
        	</div>
		  <button type="submit" class="btn btn-primary">Hinzufügen</button>
		</form>
	</div>
	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Grad</th>
				<th scope="col">Griffe</th>			
			</tr>
		</thead>
		<tbody>
			<tr th:each="r,iterationStatus  : ${routen}">
				<td th:text="${r.name}">Name</td>
				<td th:text="${r.grad}">Grad</td>
				<td th:text="${r.griffe}">Griffe</td>
			</tr>
			
		</tbody>
	
	
	
	
	</table>
	
	
	
</body>
</html>