<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Routen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<script src="/js/bootstrap.min.js"></script>
<style>
	table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	}
	
	td, th {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
	}
	
	tr:nth-child(even) {
	background-color: #dddddd;
	}
</style>
</head>
<body>

	<h1>MonkeyBoard Dashboard</h1>
	
	<div>
		<form method="get" action="routeCreator">
			<button type="submit" class="btn btn-primary">Route hinzufügen</button>
		</form>
	</div>
	
	
	<table style="width:35%" class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Grad</th>
				<th scope="col">Griffe</th>	
				<th scope="col">Erschaffer</th>	
				<th ></th>		
			</tr>
		</thead>
		<tbody>
			<tr th:each="r,iterationStatus  : ${routen}">
				<td  th:text="${r.name}"><a href="/authorized/test">Name</a></td>
				<td th:text="${r.grad}">Grad</td>
				<td th:text="${r.griffe}">Griffe</td>
				<td th:text="${r.user.username}">Erschaffer</td>
				<td align="center">
					<form method="post" action="showRoute">
						<input type="hidden" th:value="${r.id}" name="id" id="id"/>
						<button type="submit" class="btn btn-primary">Route ansehen</button>
					</form>
				</td>
			</tr>
			
		</tbody>
	
	
	
	
	</table>
	
	<div>
		<form method="post" action="custom-logout">
			<button type="submit" class="btn btn-primary">Logout</button>
		</form>
	</div>
	
	
	
</body>
</html>