<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Routen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<script src="/js/bootstrap.min.js"></script>
<style>
	table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	}
	
	td, th {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
	}
	
	tr:nth-child(even) {
	background-color: #dddddd;
	}
</style>
</head>
<body>

	<h1>Route</h1>	
	
	<p th:text="${name}" name="name"></p>
	
	<div>
		<form method="post" action="custom-logout">
			<button type="submit" class="btn btn-primary">Logout</button>
		</form>
	</div>
	
	
	
</body>
</html>